/* overwrite sharepoint styles*/
html *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.back-to-top-link)
{
    font-size: 1em !important;
    color: #000 !important;
    font-family: "Catamaran" !important;
}

/* tables */
tr:not(:last-child):not(:first-child) > td {
    border-bottom: 1px solid #8c8c8c !important;
    border-collapse: collapse;
}

tr:nth-child(odd):not(:first-child) > td {
    background-color: #e8e8e8;
}


/* print specific */
@media screen {
    div.igbvc-footer {
        display: none;
    }
}
@media print {
    div.igbvc-footer {
        position: fixed;
        bottom: 0;
    }
    .title {
        break-before: always;
        page-break-before: always;
        bookmark-label: content(text);
        bookmark-level: 1;
    }
    ul#table-of-contents {
        list-style-type: none;
    }
    ul#table-of-contents li a::after {
        content: leader('.') target-counter(attr(href url), page);
    }
}

/* fonts */
@font-face {
    font-family: "Catamaran";
    src: url("assets/Catamaran-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
